python-dotenv==0.21.0
# Flask web framework
flask==2.3.2

# Redis library for Python
redis==5.0.0

# Prometheus client for metrics
prometheus-client==0.16.0

# Python logging with JSON formatting
python-json-logger==2.0.7

# Requests library for Slack notifications and HTTP requests
requests==2.31.0

# Kubernetes Python client
kubernetes==26.1.0
